*.tar.gz
*.jpg
*.pth
*.csv
*.png
*.jpg
*.json
*.pyc
*.tif
*.zip
*.npz
*.ckpt
hw1/__pycache__/*
hw1/ckpt/*
hw1/model2.py
hw2/records/*
hw2/plots/*
hw2/results/*
hw3/dataset/*
hw3/hw3-sample-code/*
hw3/records/*
hw4/dataset/*
hw4/src/wandb/*
!hw4/imgs/*